---
import Logo from '../components/Logo.astro';
---

<header 
id="landing-header"
class="py-4 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white">
    <div class="flex flex-grow basis-0">
        <Logo/>
    </div>

    
<nav>
<ul class="flex text-sm  [&>li>a]:px-4 font-medium [&>li>a]:py-4">
<li class="hover:bg-white hover:text-black hover:rounded-md"><a href=""></a>Model S</li>
<li class="hover:bg-white hover:text-black hover:rounded-md"><a href=""></a>Model 3</li>
<li class="hover:bg-white hover:text-black hover:rounded-md"><a href=""></a>Model X</li>
<li class="hover:bg-white hover:text-black hover:rounded-md"><a href=""></a>Model Y</li>
<li class="hover:bg-white hover:text-black hover:rounded-md"><a href=""></a>Powerwall</li>
<li class="hover:bg-white hover:text-black hover:rounded-md"><a href=""></a>+</li>
</ul>
</nav>

<nav class="flex flex-grow justify-end basis-0">
<ul class="flex text-sm [&>li>a]:px-4 [&>li>a]:py-4">
<li><a href=""></a>Technical support</li>
<li><a href=""></a>Location</li>
<li><a href=""></a>Account</li>
<li><a href=""></a>Menu</li>
</ul>
</nav>

</header>

<script>

    

</script>
